<!DOCTYPE html>
<html>
<head>
  <title>SonicHR</title>
</head>
<body>

<form action="/pdfcv/pdf_create" method="POST" enctype="multipart/form-data" >
<input type="file" name="avatar"> 
<button type="submit">convert</button> 
</form>

</body>
</html>